.gallery img{
    width: 100%;
}

.name{
    font-family: Impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}

.bio{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color:cornflowerblue;
}

p{
    font-family: Helvetica, sans-serif;
}

.menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
}

.menu a{
    color: white;
    font-family: Arial Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;

}

.menu a:hover{
    color: blue;
}

.centered-footer {
    text-align: center; /* Centers the text horizontally */
    padding: 20px 0; /* Add some vertical padding for better spacing */
    margin-top: 30px; /* Add some space above the footer */
    /* You might want to add a background-color or border-top for visual separation */
    /* background-color: #f0f0f0; */
    /* border-top: 1px solid #ccc; */
    color: cornflowerblue;
}